{# Inner Slider Base Block #}

<section class="inner-slider">
    <div class="inner-slide">
        {% import "macros/inner-slider.html" as slide1 %}
        {{ slide1.innerSlide("https://picsum.photos/200/300/?random","Example Alt Text","3","Slide Heading", "Example desc for slide") }}
    </div>
    <div class="inner-slide">
        {% import "macros/inner-slider.html" as slide2 %}
        {{ slide2.innerSlide("https://picsum.photos/200/300/?random","Example Alt Text","3","Slide Heading", "Example desc for slide") }}
    </div>
    <div class="inner-slide">
        {% import "macros/inner-slider.html" as slide3 %}
        {{ slide3.innerSlide("https://picsum.photos/200/300/?random","Example Alt Text","3","Slide Heading", "Example desc for slide") }}
    </div>
    <div class="inner-slide">
        {% import "macros/inner-slider.html" as slide4 %}
        {{ slide4.innerSlide("https://picsum.photos/200/300/?random","Example Alt Text","3","Slide Heading", "Example desc for slide") }}
    </div>
</section>