{# Table Block #}
<div class="table-responsive">
  <table class="table">
    <caption>Example Table Caption</caption>
    <thead>
      <tr>
        <th scope="col">First Column</th>
        <th scope="col">Second Column</th>
        <th scope="col">Third Column</th>
        <th scope="col">Fourth Column</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Table Head Row 1</th>
        <td>Table Data 1</td>
        <td>Table Data 2</td>
        <td>Table Data 3</td>
      </tr>
      <tr>
        <th scope="row">Table Head Row 2</th>
        <td>Table Data 4</td>
        <td>Table Data 5</td>
        <td>Table Data 6</td>
      </tr>
      <tr>
        <th scope="row">Table Head Row 3</th>
        <td>Table Data 7</td>
        <td>Table Data 8</td>
        <td>Table Data 9</td>
      </tr>
    </tbody>
  </table>
</div>  