<!DOCTYPE html>
<html lang="en">
  <head>
    <!--

      Description: starter for for front end projects
      Version: 1.1
      Author: kelsS

    //-->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- #DNS prefetching -->
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//google-analytics.com">

    <!-- #Asset Prefetching -->
    <link rel="prefetch" href="">

    <!-- #Page Prefetching -->
    <link rel="prefetch" href="index.html">

    <title>Sassy Starter</title>
    <meta name="description" content="">
    <meta name="robots" content="all">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- CSS styles -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Modernizer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    </head>