{#
    Standard Inner Two Column - Right Sidebar
#}

{% set custom_classes = "standard-inner" %}
{% set page_title = "Standard Inner Two Column Right Sidebar" %}

{% extends "default-inner.html" %}

{% block content %}

<div class="container">
    {% from "macros/breadcrumb.html" import breadcrumb %}
    {% call() breadcrumb() %}
      <a href="/" class="link-breadcrumb">Home</a>
      <a href="#" class="link-breadcrumb">Test Breadcrumb Lv2</a>
      <a href="#" class="link-breadcrumb" aria-current="page">Standard Inner Two Column Right Sidebar</a>    
    {% endcall %}
  {% include "blocks/page-title.html" %}
</div>
<div class="container">
  <div class="row">

  {% set breakpt_colnum = "lg-9" %}
  {% include "shared/main.html" %}

  {% set right_side_breakpt_colnum = "lg-3" %}
  {% include "shared/right-sidebar.html" %}
  </div>
</div>

{% endblock %}

{% block add_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- Slick CDN JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="js/libs/ExampleFolder1/example.js"></script>
<script src="js/global.js"></script>
<script src="js/inner.js"></script>
{% endblock %}