<!-- index.nunjucks -->
{#
  Home Page
#}

{% set custom_classes = "home" %}
{% extends "default.html" %}
{% block content %}
    <!-- Homepage Main Content goes here-->
    <main id="main-content">
        <div class="controls">
            <button type="button" data-filter=".all">
                All Programs A-Z
            </button>
            <button type="button" data-filter=".degree-programs">
                Degree Programs
            </button>
            <button type="button" data-filter=".certificate-programs">
                Certificate Programs
            </button>
            <button type="button" data-filter=".continuing-education">
                Continuing Education
            </button>
        </div>
        <br>
        <h1>Mix It Up Test</h1>
        <br>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>Accounting</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all certificate-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>Accounting</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all continuing-education">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>Air Conditioning</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>A Program Title</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>A Program Title</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>A Program Title</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>A Program Title</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>A Program Title</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>A Program Title</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>A Program Title</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>A Program Title</h3>
                </div>
            </article>
        </a>
        <a href="#" class="mix all degree-programs">
            <article>
                <img src="http://via.placeholder.com/260x170" alt="Example Image">
                <div class="card-text">
                    <h3>A Program Title</h3>
                </div>
            </article>
        </a>
        <div style="clear:left;"></div>
    </main>
{% endblock %}