{# Inner Slider Macro #}

{# {% macro innerSlide(imgSrc, imgAlt, headingLvl, headingTxt, desc) %}
    <div>
        <img src="{{imgSrc}}" alt="{{imgAlt}}">
        <h{{headingLvl}}>{{headingTxt}}</h{{headingLvl}}>
        <p>{{desc}}</p>
    </div>
{% endmacro %} #}

{% macro innerSlider() %}
    <section class="js-inner-slider">
        <div>
            {% for slide in slides %}
            {# <img src="{{imgSrc}}" alt="{{imgAlt}}">
            <h{{headingLvl}}>{{headingTxt}}</h{{headingLvl}}>
            <p>{{desc}}</p> #}
            {{ caller(slide) }}
            {% endfor %}
        </div>
    </section>
{% endmacro %}

{# imgSrc, imgAlt, headingLvl, desc #}

{# {% call(user) dump_users(list_of_user) %}
    <dl>
        <dl>Realname</dl>
        <dd>{{ user.realname|e }}</dd>
        <dl>Description</dl>
        <dd>{{ user.description }}</dd>
    </dl>
{% endcall %} #}