{# Promo Call to Action Macros #}

{% macro imgPromo(imgUrl, desc, linkHref, linkTxt) %}
    <div class="image-promo" style="background-image:url('{{imgUrl}}');">
        <span class="img-promo-heading">{{desc}}</span>
        <a href="{{linkHref}}" class="link-cta">{{linkTxt}}</a>
    </div>
{% endmacro%}

{% macro imgTxtPromo(imgUrl, imgAlt, caption) %}
    <h3>Image w/ Caption (H3)</h3>
    <div class="image-txt-promo">
        <img src="{{imgUrl}}" alt="{{imgAlt}}">
        <p class="image-caption">{{caption}}</p>
    </div>
{% endmacro%}

{% macro txtPromo(headingLvl, headingTxt, desc, linkHref, linkTxt) %}
    <div class="text-promo">
        <h{{headingLvl}}>{{headingTxt}}</h{{headingLvl}}>
        <p>{{desc}}</p>
        <a href="{{linkHref}}" class="link-cta">{{linkTxt}}</a>
    </div>
{% endmacro%}

{% macro txtPromoAlt() %}
    <div class="text-promo">
        {{ caller() }}
    </div>
{% endmacro %}